@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.badge{
    display: inline-block;
    padding: 0.125rem 0.625rem;
    padding-top: 0.2rem;
    padding-left: 0.625rem;
    font-size: 1.5rem;
    font-weight: regular;
    font-family: 'Bebas Neue';
    text-transform: uppercase;

}

.badge-pill{
    border-radius: 1.25rem;
}

.badge-yellow {
    background-color: #FFC700;
    color: #000;
  }

.badge-green {
    background-color: #29B929;
    color: #fff;
  }
  
.badge-icon{
    margin-left: 3px;
    font-size: .9em;
}