.quantity-selector-container{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.quantity-selector-container p{
    font-size: 2.68rem;
    font-weight: 700; 
    margin-bottom: 1rem;
}

.selector{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selector .quantity {
    font-size: 2.3125rem;  
}

.selector .remove-btn {
    width: 2.0625rem;      
    height: 2.0625rem;
}

.selector .add-btn {
    width: 2.375rem;     
    height: 2.375rem;
}
