.button {
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }

.button-primary-black{
    background-color: #FFC700;
    color: #000;
}

.button-primary-white{
    background-color: #FFC700;
    color: white;
}

.button-danger{
    background-color: #E63946;
    color: white;
}

.button-xl{
    width: 32.4375rem;     
    height: 8.5rem;        
    border-radius: 0.75rem;
    font-size: 4.6875rem;  
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-large{
    max-width: 47.688rem;
    height: 6.813rem;
    font-size: 3.438rem;
    font-weight: 700;
    width: 100%;
    border-radius: 6.62rem;
}

.button-medium-inter{
    width: 27.56rem;
    height: 6.56rem;      
    border-radius: 0.75rem; 
    font-size: 2.375rem;
    letter-spacing: -0.27px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-medium-bebas{
    width: 27.56rem;
    height: 6.56rem;      
    border-radius: 0.75rem; 
    font-size: 3.125rem;  
    letter-spacing: -0.27px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-small{
    width: 13rem;         
    height: 4.5rem;        
    border-radius: 0.5rem; 
    font-size: 1.6875rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
