.product-hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-hero-container img{
    width: 35.5rem;
    height: 24.5rem;
    border-radius: 16px;
}

.product-hero-container p{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    text-align: center;
}