.cart-footer-container{
    display: flex;
    align-items: center;
    gap: 5em;
    height: 13.1rem;
    width: 100%;
    background-color: #FFC107;
    margin-top: auto;
}

.cart-footer-container .cart-footer-section{
    display: flex;
    align-items: center;
    height: 8rem;
    width: 45rem;
    background-color: white;
    border-radius: 20px;
    margin-left: 2.1em;
    justify-content: space-between;
}

.view-cart-btn{
    margin-right: 4.2rem;
    margin-top: .4rem;
 
}

.footer-cart-btn{
    display: flex;
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
    gap: 8em;
}

.cart-footer-info{
    display: flex;
    align-items: center;
    margin-left: 1.3em;
    
}

.cart-footer-icon{
    width: 6rem;
    height: 3.62rem;
}

.cart-footer-price{
    margin-left: .6rem;
}
.cart-footer-nb-items, .cart-footer-price{
    font-family: 'Inter', sans-serif;
    font-size: 1.87rem;
    font-weight: bold;
}

.cart-footer-price, .cart-footer-nb-item-number{
    color: #4D9C07;
}

.language-selector-container{
    display: flex;
    align-items: center;
}
