.header {
    box-sizing: border-box;
    margin: 0;
    width: 67.5rem;           
    height: 25rem;            
    background-color: #FFC700;
    overflow: hidden;         
    flex-shrink: 0;  
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.header-left,
.header-right {
    width: 7rem;
    flex-shrink: 0;  /* ← Ne rétrécit jamais */
    display: flex;
    align-items: flex-start;

}

.header-logo {
    position: absolute; /* ← Sort du flux flex */
    height: 29.56rem;           
    width: 54.313rem;             
    align-self: center; 
    left: 10%;
    margin-top: 1em;
}

.icon-back {
    width: 5.25rem;           
    height: 5.25rem;
    cursor: pointer;
}

.icon-cart {
    width: 8rem;              
    height: 4.875rem;         
    cursor: pointer;
}

.header {
    position: relative; /* ← Nécessaire pour le logo absolu */
}