.header {
    box-sizing: border-box;
    margin: 0;
    width: 67.5rem; 
    min-width: 67.5rem; 
    max-width: 67.5rem;           
    height: 25rem;            
    background-color: #FFC700;
    overflow: hidden;         
    flex-shrink: 0;  
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.header-left,
.header-right {
    width: 8rem;             
    display: flex;
    align-items: center;
}

.header-logo {
    height: 25rem;           
    width: auto;             
    align-self: center; 
}

.icon-back {
    width: 5.25rem;           
    height: 5.25rem;
    cursor: pointer;
}

.icon-cart {
    width: 8rem;              
    height: 4.875rem;         
    cursor: pointer;
}