.customization-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.customization-section {
    border: 2px solid #000;
    border-radius: 0;
    padding-left: 1.2rem;
    width: 28.5rem;
    background-color: #F5F5F5;
  
}

.customization-section legend {
    font-family: 'Inter', sans-serif;
    font-size: 2.1875rem;
    font-weight: 700;
    padding: 0 0.5rem;
}

.customization-section .options{
    display: flex;
    justify-content: center;
}

.customization-section input {

    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
}

.customization-section label {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    margin-right: 0.6rem;
    font-weight: 600;
}