.customization-section, .customization-section * {
    box-sizing: border-box;
}

.customization-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.customization-section {
    border: 2px solid #000;
    border-radius: 0;
    padding-left: 1.2rem;
    width: 29rem;
    background-color: #F5F5F5;
    margin-inline: 0;        /* Évite les marges par défaut des navigateurs sur les fieldsets */
    min-inline-size: 0;
  
}

.customization-section legend {
    text-align: left; 
    line-height: normal; 
    font-family: 'Inter', sans-serif;
    font-size: 2.1875rem;
    font-weight: 700;
    padding: 0 0.5rem;
}

.customization-section .options{
    display: flex;
    margin-left: 3px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    text-align: left;
 
}

.customization-section input {
    border: 1px solid black;
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
}


.customization-section input[type="checkbox"]:checked {
    background-color: #000;
    position: relative;
    flex-shrink: 0;        
}


.customization-section input[type="checkbox"]:checked::after {
    content: "✓";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    flex-shrink: 0;        
}


.customization-section label {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    margin-right: 0.3rem;
    font-weight: 600;
}